*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #edcda0;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-part2 h3{
    padding: 5px 9px;
    border: 1px solid rgb(122, 120, 120);
    border-radius: 40%;
    font-weight: 500;
    color: rgba(29, 25, 25, 0.086);
    font-size: 20px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#nav-part2 h3::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 40%;
    transition: all ease 0.4s;
}
#nav-part2 h3:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h3 a{
    color: rgb(29, 27, 27);
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h3:hover a{
    color: rgb(247, 242, 233);
}
/* Yahan tak ka code sirf navbar ke liye hai. */
#center{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}
#page1 video{
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin: 4vw 0vw;
}
#hero-shape{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0vw;
    top: 70vh;
    filter: blur(20px);
}
#hero-1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
#hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A,#fe570a);
    border-radius: 50%;
    filter: blur(10px);
    position: absolute;
    animation-name: animation2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A,#fe570a);
    border-radius: 50%;
    filter: blur(30px);
    position: absolute;
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animation1 {
    from{
        transform: translate(-25%,-2%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes animation2 {
    from{
        transform: translate(-5%,-2%);
    }
    to{
        transform: translate(-30%,10%);
    }
}
/* page 1 ka code yahan tak hai */
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #edcda0;
    padding: 5vw 0;
    position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.container{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 7vw;
    display: inline-block;
}
#gola{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 0 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom{
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 3.5vw;
    width: 50%;
    line-height: 4vw;
}
#bottom-part2{
    width: 25%;
}
#bottom-part2 img{
    width: 80%;
    border-radius: 30px;
}
#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;
}
#page2 #gola2{
    height: 25vw;
    width: 25vw;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(to top right,#FE320A,#fb7d43);
    top: 50%;
    left: 24%;
    filter: blur(20px);
    animation-name: page2golaanimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#gola-1{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right,#FE320A,#fc7d42);
    border-radius: 50%;
    animation-name: page2golaanimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes page2golaanimation {
    from{
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-10deg);
    }
}
/* page-2 ka code yahan tak hai */
#page3{
    min-height: 90vh;
    width: 100%;
    background-color: #edcda0;
    padding: 4vw 0;
}
.elem{
    height: 150px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid rgba(65, 64, 64, 0.17);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}
#fixed-image{
    height: 23vw;
    width: 19vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
/* page-3 ka code yahan tak hai. */